<!--Navbar -->
<nav style="background-image: url(/static/bg1.jpeg); font-family: 'Courgette', cursive;" class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
  <img src="https://img.icons8.com/cute-clipart/64/000000/instagram-new.png">
  <a style="color: black" class="navbar-brand" href="{% url 'timeline' %}">Instagram </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-large">Login</button>
    </ul>
  </div>
  <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a >Home</a>
                  </li>
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}
          </div>
</nav>
<!--/.Navbar -->